    /*variables*/
    :root{
        --darkerGreen: rgb(34, 36, 35);
        --emeraldGreen: rgb(80, 200, 120);
        --shadow: rgb(11, 14, 12);
        --lowRGBWhite: rgb(180,180,180);
        --defaultButtonColor: rgba(73, 162, 162, 0.7);
        --defaultButtonHoverColor: rgb(73, 182, 182);
        --defaultParaColor: rgb(189,189,189);
    }
    
    /*global selectors*/
    html{
        background: -webkit-linear-gradient(45deg,  rgba(3, 66, 24, 0.6),  rgb(80, 200, 120) 80%), 
                    -webkit-linear-gradient(135deg,  rgb(0, 0, 0), rgb(80, 200, 120) 80%), 
                    -webkit-linear-gradient(225deg,  rgb(0, 0, 0),   rgb(80, 200, 120) 80%), 
                    -webkit-linear-gradient(315deg, rgb(0, 10, 1),  rgb(80, 200, 120) 80%); 
        background-attachment: fixed;
        -khtml-user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;

        /*font-family: 'Nunito Sans', sans-serif;*/
    }
    /*button section*/
    button{
        font-size: 150%;
        border-radius: 15%;
        background: var(--defaultButtonColor);
        color: white;
        border: 0;
        cursor: pointer;
        width: 75px;
        height: 60px;  
        transition: 0.1s;
        box-shadow: 2px 4px 7px var(--shadow);
        overflow: auto;
    }
    button:hover{
        transform: scale(1.08);
    }
    button:active{
        transform: translate(0, 5px);
        box-shadow: 1px 2px 4px var(--shadow);  
        opacity: 0.7;
    }
    button:focus{
        outline: none;
    }
    .digits:hover, .non:hover{
        background: var(--defaultButtonHoverColor);
        color: black;
    }
    .operators{
        background: rgba(221,45,0, 0.7);
    }
    .operators:hover{
        background: rgba(221,45,0);
    }
    .clear{
        background: rgba(161,121,68, 0.7);
    }
    .clear:hover{
        background: rgb(161,121,68);
    }
    .factorial{
        background: rgba(31, 76, 143,0.7);
    }
    .factorial:hover{
        background: rgb(31, 76, 143);
    }
    #equal{
        background: rgba(42, 156, 69,0.7);
    }
    #equal:hover{
        background:   rgb(42, 156, 69);
    }
    div{
        margin: 0 auto;
    }
    /*container for calculator */
    #calc_container{
        display: flex;
        /*background: red;*/
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #calculator{
        background: var(--darkerGreen);
        width: 400px;
        margin: 0 auto;
        height: 540px;
        border-radius: 6%;
        box-shadow: 3px 4px 11px var(--shadow);
    }
    #calc_screen{
        display: flex;
        background: rgb(49, 51, 48);
        flex-wrap: wrap;
        flex-flow: column;
        height: 100px;
        margin: 40px 40px 1px 40px;
        border-radius: 9%;
        text-align: right;
        box-shadow: inset 1px 2px 8px var(--shadow);
    }
    /*shows current functionality state such as operatore precedence*/
    #calc_status{
        display: flex;
        color: rgb(47, 49, 46);
        font-family: 'Nunito Sans', sans-serif;
        overflow: hidden;
        font-size: 55%;
    }
    #calc_status > div{
        margin: 5px 0 0 25px;
        height: inherit;
    }
    .opPrecedence{
        color: rgb(160, 236, 18);
    }
    .screenDAR{
        color: rgb(160, 236, 18);
    }
    /* displays the arithmetic expressions*/
    #calc_display{
        font-family: 'Nunito Sans', sans-serif;
        color: rgb(160, 236, 18);
        overflow: hidden;
        margin-top: 10px;
        display: inline-block;
        flex-grow: 4;
        font-size: 117%;
        text-shadow: 0 0 3px var(--defaultParaColor);
    }
    /*display the total*/
    #calc_input{
        font-family: 'Nunito Sans', sans-serif;
        color: rgb(160, 236, 18);
        overflow: hidden;
        display: inline-block;
        flex-grow: 4;
        font-size: 185%;
        text-shadow: 0 0 3px var(--defaultParaColor);
    }
    /*upper section of the buttons*/
    #calc-mid{
        display: flex;
        justify-content: start;
        margin: 0 37px;
    }
    #calc-mid > button{
        font-size: 65%;
        border-radius: 15%;
        background: rgb(99, 2, 2);
        color: white;
        border: 0;
        width: 65px;
        height: 17px;  
        transition: 0.1s;
        margin: 3px 5px;
        box-shadow: 1.5px 3px 4px var(--shadow);
        overflow: auto;
    }
    #calc-mid > button:active{
        transform: translate(0, 2px);
        box-shadow: 1px 2px 4px var(--shadow);  
        opacity: 0.8;
    }
    /*container for buttons*/
    #buttons-container{
        display: grid;
        justify-content: center;
        margin: 2px 50px;
        grid-template-columns: repeat(4, 24% [col-start]);
        gap: 4%;  
    }

        