    /*variables*/
    :root{
        --darkerGreen: rgb(34, 36, 35);
        --shadow: rgb(11, 14, 12);
        --lowRGBWhite: rgb(180,180,180);
        --defaultButtonColor: rgba(73, 162, 162, 0.7);
        --defaultButtonHoverColor: rgb(73, 182, 182);
        --defaultParaColor: rgb(189,189,189);
    }
    
    /*global selectors*/
    /* rgba 45deg,  rgba(24, 34, 14, 0.9), rgba(15, 55, 20, 0.7), rgba(13, 56, 31,.4) 78%)*/
    html{
        background: -webkit-linear-gradient(45deg,  rgba(32, 32, 32, 0.9), rgba(44, 44, 44, 0.6), rgba(59, 60, 58,.3) 80%), 
                    -webkit-linear-gradient(135deg,  rgba(32, 32, 32, 0.9), rgba(44, 44, 44, 0.6),rgba(59, 60, 58,.3) 80%), 
                    -webkit-linear-gradient(225deg,  rgba(32, 32, 32, 0.9), rgba(44, 44, 44, 0.6),rgba(59, 60, 58,.3) 80%), 
                    -webkit-linear-gradient(315deg,  rgba(32, 32, 32, 0.9), rgba(44, 44, 44, 0.6),rgba(59, 60, 58,.3) 80%); 
        background-attachment: fixed;

        /*font-family: 'Nunito Sans', sans-serif;*/
    }
    div{
        font-family: 'Nunito Sans', sans-serif;
        color: var(--defaultParaColor);
    }
    /*button section*/
    button{
        font-size: 150%;
        border-radius: 15%;
        background: var(--defaultButtonColor);
        color: white;
        border: 0;
        cursor: pointer;
        width: 75px;
        height: 60px;  
        transition: 0.1s;
        box-shadow: 2px 4px 7px var(--shadow);
        overflow: auto;
    }
    button:hover{
        transform: scale(1.08);
    }
    button:active{
        transform: translate(0, 5px);
        box-shadow: 1px 2px 4px var(--shadow);  
        opacity: 0.7;
    }
    button:focus{
        outline: none;
    }
    .digits:hover, #decimal:hover, #plus-add:hover{
        background: var(--defaultButtonHoverColor);
        color: black;
    }
    .operators{
        background: rgba(221,45,0, 0.7);
    }
    .operators:hover{
        background: rgba(221,45,0);
    }
    .clear{
        background: rgba(161,121,68, 0.7);
    }
    .clear:hover{
        background: rgb(161,121,68);
    }
    #equal{
        background: rgba(73,161,9,0.7);
    }
    #equal:hover{
        background: rgb(73,161,9);
    }
    div{
        margin: 0 auto;
    }

    #calc_container{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #calculator{
        display: inline-block;
        background: var(--darkerGreen);
        margin: 0 auto;
        height: 64vh;
        border-radius: 9%;
        box-shadow: 2px 4px 7px var(--shadow);
    }
    #calc_screen{
        display: flex;
        background: rgb(49, 51, 48);
        /*background: -webkit-linear-gradient(135deg, rgb(54, 57, 58), rgba(49, 51, 48) 90%);*/
        flex-wrap: wrap;
        flex-flow: column;
        height: 12vh;
        margin: 40px 40px 20px 40px;
        border-radius: 9%;
        text-align: right;
        box-shadow: inset 1px 2px 8px var(--shadow);
    }
    #calc_display{
        margin-top: 10px;
        display: inline-block;
        flex-grow: 4;
        font-size: 140%;
        text-shadow: 0 0 3px var(--defaultParaColor);
    }
    #calc_input{
        display: inline-block;
        flex-grow: 1;
        font-size: 200%;
        text-shadow: 0 0 3px var(--defaultParaColor);
    }
    #buttons-container{
        display: grid;
        justify-content: center;
        margin: 25px 50px;
        grid-template-columns: repeat(4, 24% [col-start]);
        gap: 4%;  
    }

        